$grey-1000: #0c0e0f;
$grey-900: #181b1f;
$grey-800: #24292e;
$grey-700: #30363d;
$grey-600: #3c444d;
$grey-500: #47525c;
$grey-400: #535f6b;
$grey-300: #5f6d7a;
$grey-200: #6b7a8a;
$grey-100: #778899;
$white-color: white;
$black-color: #000000;
$font-stack: DM Sans, sans-serif, Arial, Helvetica;

p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $grey-300;
}

q {
  font-family: "DM Sans";
  font-style:italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $grey-100;
}

a {
  text-decoration: none;
}
h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  color: $black-color;
}
h2 {
  margin: 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: $grey-800;
}
h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: $grey-700;
}
h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: $grey-600;
}
main {
  margin: 0 auto;
  max-width: 1220px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

body {
  margin: 0 auto;
}

@mixin single-text-large {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $grey-500;
}

// Buttons

@mixin btn($background-color, $text-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.3rem;
  gap: 8px;
  background-color: $background-color;
  color: $text-color;
  border: 0;
}

.primarybtn {
  @include btn($grey-600, $white-color);
}

.primarybtn:hover {
  @include btn($grey-100, $white-color);
  cursor: pointer;
}

.secondarybtn {
  @include btn($white-color, $grey-600);
}

.secondarybtn:hover {
  @include btn($grey-100, $white-color);
  padding: 23px 36px;
  cursor: pointer;
}
.large {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  border-radius: 40px;
  height: 80px;
  padding: 23px 36px;
  border: 2px solid $grey-700;
}
.large:hover {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  border-radius: 40px;
  height: 80px;
  padding: 23px 36px;
  border: 2px solid $grey-700;
  cursor: pointer;
}

.small {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-radius: 30px;
}

.link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: $grey-700;
}

.top {
  height: 118px;
  // background-color: $primary-color;
}

.nav-wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: auto;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  list-style: none;
  height: 50px;
}

.hero {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin: 16px;
  grid-template-areas: "info-container img-container";
}
.info-container {
  display: grid;
  grid-area: info-container;
  padding: 8px;

  .btn-container {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
  }
}

.img-container {
  display: grid;
  grid-area: img-container;
  height: 600px;
  width: 600px;
  border-radius: 30px;
  overflow: hidden;

  img {
    object-fit: contain;
  }
}

.features {
  margin: 16px;
  .feature-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    grid-template-areas:
      "card1 card3"
      "card2 card3";
    #card1 {
      display: grid;
      grid-area: card1;
      height: auto;
      border: 2px solid $grey-400;
      padding: 12px;
    }
    #card2 {
      display: grid;
      grid-area: card2;
      border: 2px solid $grey-400;
      height: auto;
      padding: 12px;
    }
    #card3 {
      display: grid;
      grid-area: card3;
      border: 2px solid $grey-400;
      height: auto;
      padding: 12px;
    }
  }
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;

  p {
    max-width: 600px;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;

     div:nth-child(2) {
      grid-row: span 2;
    }
    div:nth-child(3) {
      grid-row: span 2;
    }
    div:nth-child(4) {
      grid-row: span 2;
    }
  

    .class-profile {

      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      #img-martin {
        object-fit: cover;
        object-position: center -40px;
      }
  
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 20px;
      }
      h3 {
        margin: 0;
      }
      p {
        margin: 0;
      }
  
      .skills-container {
        display: flex;
        gap: 0.8rem;
        flex-wrap: wrap;
      }
      span, a {
        background-color: rgb(242, 242, 242);
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color:#30363d;
        padding: 8px 16px;
        border-radius: 8px;
      }
      .linkedin {
        background-color: #30363d;
        color: rgb(242, 242, 242);
      }
    }
  }
  }
.ama-logo{
  height: 180px;
  cursor: pointer;
}

footer {
  margin: 0 auto;
  margin-top: 300px;
  max-width: 1220px;
  height: 464px;

  .ama-logo{
    margin-top: -40px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 60px;
    border-top: 2px solid $grey-100;
    border-bottom: 2px solid $grey-100;

    #nav-footer {
      display: flex;
      color: $grey-100;
      font-family: "DM Sans";
      flex-direction: row;
      justify-content: center;
      gap: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
      list-style: none;
    }
    #social-nav {
      font-size: 36px;
      display: flex;
      gap: 16px;
      margin: 25px;
      justify-content: space-around;
      list-style: none;
    }
  }
  #copyright {
    display: flex;
    font-family: "DM Sans";
    margin-top: 30px;
    color: $grey-100;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    border: 2px, solid;
  }
}



////////// CONTACT US STYLES ////////////////

.contact-us-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
      @include single-text-large();
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 0.5rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;

        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: $grey-500;
      }
    }
  }
  form {
    background-color: #f2f1fa;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(2, 256px);
    padding: 65px 40px;
    gap: 32px;

    div {
      display: flex;
      flex-direction: column;
      gap: 12px;

      label {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        color: $grey-900;
      }

      input,
      textarea {
        border-radius: 30px;
        border: 0;
        padding: 1.5rem 2rem;

        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
      }
      input::placeholder,
      textarea::placeholder {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        opacity: 80%;
      }
    }

    #fmessage {
      grid-column: span 2;

      textarea {
        resize: none;
        height: 100px;
      }
    }
  }
}
.main-container {
  margin-bottom: 80px;
}

@media only screen and (max-width: 1220px) {
  .contact-us-container {
    margin: 25px;
    flex-direction: column;
    margin-bottom: 80px;

    .contact-info {
      align-items: center;

      p {
        text-align: center;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 25px;
      div {
        input,
        textarea {
          border-radius: 30px;
          border: 0;
          padding: 1rem 1.3rem;
        }
        input::placeholder,
        textarea::placeholder {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          opacity: 80%;
        }
      }
    }
  }
}

//// ABOUT STYLES /////
.about {
  padding: 16px;
}
.about-us {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  grid-template-areas: 
  "about-us-text"
  "about-us-image";
}
.column-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  grid-template-areas: "as-web-firm"
  "language-model";

  .as-web-firm{
    grid-area: as-web-firm;
  }
  .language-model{
    grid-area: language-model;
  }
}
  .customers {
      display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
  }

  .customer-profile {
  border: 2px solid $grey-700;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}

.customer-profile:hover {
  border: 2px solid $grey-100;
  cursor: pointer;
}
.customer-logo {
  border-radius: 100px;
  height: 150px;
  max-width: 150px;
}
.about-img-container {
  display: grid;
  grid-area: img-container;
  max-height: 600px;
  height: auto;
  max-width: 600px;
  width: auto;
  border-radius: 30px;
  overflow: hidden;
  grid-area: about-us-image;

  img {
    object-fit: contain;
  }
}
.about-us-text {
  grid-area: about-us-text;
}

.priorities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}

.prioritie-one {
  width: 250px;
}
.prioritie-two {
  max-width: 250px;
}

.more-about {
  margin-top: 40px;
}
.about-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 16px;
}

@media screen and (min-width: 660px) {
.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  grid-template-areas: "about-us-text about-us-image";
}

.column-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  grid-template-areas: "as-web-firm language-model";
}

.about-card-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 16px;
}}